# n.b. use "git update-index --assume-unchanged prefstore.cfg" 
# when you customize this file with you're own settings 

[DatawareResource]
port: 9000
resource_name: skeletonresource
resource_uri:  http://ec2-54-226-64-160.compute-1.amazonaws.com
realm:         http://ec2-54-226-64-160.compute-1.amazonaws.com

[Resources]
resources: ["urls"]

[DatawareDB]
hostname: 127.0.0.1
username: datawareuser 
password: apassword 
dbname: dataware_resource

[ResourceDB]
hostname: 127.0.0.1
username: datawareuser 
password: apassword 
dbname: dataware_resource_data 

[Catalog]
catalog_uri:  http://ec2-54-211-122-205.compute-1.amazonaws.com:8080
