# n.b. use "git update-index --assume-unchanged prefstore.cfg" 
# when you customize this file with you're own settings 

[DatawareResource]
port: 9000
resource_name: energyresource
resource_uri:  http://10.55.1.1
realm:         http://10.55.1.1

[Resources]
resources: ["urls_data"]

[DatawareDB]
hostname: 127.0.0.1
username: root 
password: d8tawar3 
dbname: datawareurls

[ResourceDB]
hostname: 127.0.0.1
username: root 
password: d8tawar3 
dbname: dataware_urls_data 

[Catalog]
catalog_uri:  http://10.55.1.1:9080
