# n.b. use "git update-index --assume-unchanged prefstore.cfg" 
# when you customize this file with you're own settings 

[DatawareResource]
port: 9000
resource_name: urlresource
resource_uri:  http://192.168.1.1
realm:         http://192.168.1.1

[Resources]
resources: ["urls_data"]

[DatawareDB]
hostname: 127.0.0.1
username: root 
password: goatie 
dbname:datawareresource

[ResourceDB]
hostname: 127.0.0.1
username: root 
password: goatie
dbname: dataware_urls_data 

[Catalog]
catalog_uri:  http://192.168.1.1:9080
